.home{
    display: flex;
    /* padding-top: 20px; */
    margin: 80px 150px;
    justify-content: space-between;

}
.heading{
    height: 300px;
    width: 35%;
    font-size: 65px;
    font-weight: 500;
}
.image{
    width: 32%;
}
.image img{
   height: 450px;
   width: 100%;
   border-radius: 50%;
}
.description{
    /* margin-left: 50px; */
    height: 500px;
   width: 35%;
   font-size: 25px;
   font-weight: 100;
}

.exp-project{
    margin: 10px;
    font-size: 10px;
    display: flex;
    justify-content: space-between;
}
.project{
    margin-right: 60px;
}
.exp-number{
    font-size: 70px;
}
.project-number{
    font-size: 70px;
}